
body {
    width: 100%;
    height: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
}


html {
    width: 100%;
    height: 100%;
}


#image-gallery-caption {
    text-align:center;
    max-width:70%;
    margin:auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

h2 {
    padding-bottom: 10px;
}
h5 {
    color: #111111;
}


p::selection {
    color: #000;
    background: #E2F4CC;
}
h2::selection {
    color: #000;
    background: #E2F4CC;
}
h4::selection {
    color: #000;
    background: #E2F4CC;
}
a::selection {
    color: #10C0DD;
    background: #E2F4CC;
}

p {
    /*margin: 0 0 25px;*/
    font-size: 18px;
    line-height: 1.5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #888888;
}

/*@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}*/

a {
    color: #10C0DD;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #0B8FA5;
}

.logo {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3ss ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8); /*hover on nav tabs color*/
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 15px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }


    .navbar-custom-work {
        background: rgba(255,255,255,.9);
    }

    .navbar-custom-index.top-nav-collapse {
        padding: 0;
        background: rgba(43,61,81,.7);
    }

    .navbar-custom-work.top-nav-collapse {
        padding: 0;
        background: rgba(255,255,255,.8);
    }

    /*my name*/
    .navbar-custom.top-nav-collapse .logo {
        font-size: 14px;
        color: #fcfcfc;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #10C0DD;
    color: #10C0DD;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #10C0DD;
    outline: 0;
    color: #fff;
    background-color: #10C0DD;
}

/*round buttons*/
.btn-white{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-white:hover,
.btn-white:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.2);
}

.btn-colored{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    padding: 7px 16px;
    border: 2px solid #000;
    border-radius: 100%!important;
    font-size: 40px;
    color: #000;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-colored:hover,
.btn-colored:focus {
    color: #fff;
    border-color: #10C0DD;
    background: #10C0DD;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


/*Content begins*/

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/Jumbotron.png) no-repeat bottom center scroll;
    background-color: #10C0DD;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .brand-heading {
    font-size: 40px;
}
.intro .intro-body .intro-text {
    font-size: 18px;
}
.intro p {
    color: #fff;
}
.intro .btn-white {
    margin-top: 50px;
}
@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}


.content {
    display: table;
    width: 100%;
    height: auto;
    min-height: 600px;
    text-align: center;
    padding: 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.profile h2, h4 {
    color: #111111;
}
.profile p {
    color: #888888;
    /*padding-bottom: 30px;*/
}
.profile .pic {
    padding-top: 50px;
    font-size: 200px;
}
.profile .left-text {
    text-align: left;
}
.profile .btn-scroll-caption {
    margin-top: 90px;
}
.profile .btn-default {
    margin-bottom: 50px;
    margin-top: 20px;

}

.approach {
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
}
.approach .skill .icon {
  color: #000;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid #dedede;
  text-align: center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.approach .skill i {
  font-size: 25px;
  line-height: 90px;
  color: #989898;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
}

.approach h4, h6 {
    color: #000;
}
.approach h6 {
    margin-bottom: 20px;
}
.approach p {
    color: #888888;
}
.approach .skill {
  cursor: pointer;
  text-align: center;
}
.approach .skill {
    margin-top: 30px;
}
.approach .skill:hover .icon i {
  color: #fff;
}
.approach .skill:hover h4,
.approach .skill:hover h6 {
  color: #10C0DD;
}
.approach a {
    text-decoration: none;
}
.approach .skill:hover .icon {
  background: #10C0DD;
  color: #fff;
}
.approach .btn-scroll-caption {
    margin-top: 90px;
}


#skillModal {
    background-color: transparent;
    text-align: center;
}
#skillModal .left {
    position: center;
}
#skillModal p {
    color: #888888;
}
#skillModal h4 {
    color: #fff;
}
#skillModal .modal-header {
    text-align: center;
    background-color: #10C0DD;
}
#skillModal .modal-header .modal-tilte {
    color: #fff;
}
#skillModal .imgCaption {
    text-align: left;
    padding: 20px 30px 0 30px;
}


.works {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}
.works h2 {
    color: #000;
    margin-top: 20px;
}
.works p {
    color: #888888;
}
.works .left-text {
    text-align: left;
    height: 300px;
}
.works .btn-default {
    margin-top: 20px;   
}
.works .pic {
    padding-top: 70px;
    font-size: 50px;
    color: #000;
}
.works h5 {
    margin-top: 50px;
}


/*@media(min-width:767px) {
    .content {
        padding-top: 100px;
    }
}
*/
.thoughts {
    background-color: #10C0DD;
}
.thoughts p {
    color: #fff;
}
.thoughts .pic {
    padding-top: 50px;
    font-size: 200px;
}
.thoughts .left-text {
    text-align: left;
}


.contact {
    border-top: 1px solid #e5e5e5;
    text-align: left;
}
.contact .item i {
    font-size: 20px;
    color: #10C0DD;
}
.contact p {
    display: inline;
}
.contact .social {
    padding-top: 20px;
}
.contact .container {
    padding-top: 100px;
}
.contact .btn-social {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    padding: 9px 0px;
    border: 2px solid #10C0DD;
    border-radius: 100%!important;
    font-size: 20px;
    color: #10C0DD;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
.contact .btn-social:hover,
.contact .btn-social:focus {
    outline: 0;
    color: #fff;
    background: #10C0DD;
}



ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 40px 0;
}

footer p {
    margin: 0;
}


.case-intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    background-color: #fff;
}
.case-intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    height: 500px;
}
.case-intro p {
    color: #888888;
}
.case h4 {
    color: #000;
    margin-bottom: 10px;
}
.case p {
    margin-bottom: 30px;
    
}
.case img {
    margin-bottom: 80px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
